@media (max-width: 576px) and (min-width: 576px) {
  .container {
    background-color: #0f172a;
    color: #f8fafc;
    text-align: center;
    font-family: "Roboto";
    box-sizing: border-box;
  }

  .img {
    width: 100px;
    height: 120px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 922px) and (min-width: 1200px) {
  .container {
    background-color: #0f172a;
    color: #f8fafc;
    text-align: center;
    font-family: "Roboto";
    height: 100vh;
  }
  .img {
    width: 100px;
    height: 120px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} ;
